.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem 0.25rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--background-color);
    border-radius: 1.25rem;
    transition: all .2s;
}

.button:hover,
.button:active,
.button:focus {
    background-color: var(--hover-color);
    color: var(--color-white);
}

.editor_button {
    display: flex;
    align-items: center;
    gap: 0.93rem;
    background-color: var(--color-green);
    padding: 0.5rem 1.25rem;
    border: none;
    border-radius: 0.5rem;
    font-family: var(--font-editor);
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-white);
    cursor: pointer;

    &:hover {
        background-color: var(--color-green-lighter);
        color: var(--color-white);
    }
}
