:root {
    --pure-white: #FFF;
    --pure-black: #000;
    --primary-button: #80CC90;
    --primary-button-hover: #D7FFDF;
    --secondary-button: #CF0909;
    --secondary-button-hover: #FF4444;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: var(--pure-white);
        --background-color: #252525;
        --logo-color: #EEEEEE;
        --logo-hover: #D7FFDF;
        --button-color: #959595;
        --line-color: #2F2F2F;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: var(--pure-black);
        --background-color: #EEEEEE;
        --logo-color: #000;
        --logo-hover: #555555;
        --button-color: #555555;
        --line-color: #E1E1E1;
    }
}
