// Dark mode
$dark-background: #252525;
$dark-stroke: #2F2F2F;
$dark-border: #959595;
$dark-button-secondary: #338946;
$dark-button-secondary-hover: #44AE5B;
// Light mode
$light-background: #EEEEEE;
$light-stroke: #E1E1E1;
$light-border: #555555;
$light-button-secondary: #44AE5B;
$light-button-secondary-hover: #338946;
// Generic
$button-primary: #CF0909;
$button-primary-hover: #FF4444;
$pure-black: #000000;
$pure-white: #FFFFFF;