$color-white: #FFFFFF;
$color-black: #000000;
$color-gray-900: #252525;
$color-gray-800: #2F2F2F;
$color-gray-500: #555555;
$color-gray-300: #959595;
$color-gray-200: #E1E1E1;
$color-gray-100: #EEEEEE;
$color-red: #CF0909;
$color-red-lighter: #FF4444;
$color-green: #338946;
$color-green-lighter: #44AE5B;

