@font-face {
    font-family: 'Mioritza-Icons';
    src: url('fonts/Mioritza-Icons.woff2?7z85c4') format('woff2'),
        url('fonts/Mioritza-Icons.ttf?7z85c4') format('truetype'),
        url('fonts/Mioritza-Icons.woff?7z85c4') format('woff'),
        url('fonts/Mioritza-Icons.svg?7z85c4#Mioritza-Icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.micon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Mioritza-Icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mi-caret:before {
    content: "\e90b";
}

.mi-plus:before {
    content: "\e90a";
}

.mi-check:before {
    content: "\e907";
}

.mi-offlight:before {
    content: "\e905";
}

.mi-onlight:before {
    content: "\e906";
}

.mi-miorita:before {
    content: "\e900";
}

.mi-sheep:before {
    content: "\e900";
}

.mi-pause:before {
    content: "\e901";
}

.mi-play:before {
    content: "\e902";
}

.mi-stop:before {
    content: "\e903";
}

.mi-undo:before {
    content: "\e904";
}

.mi-stepover:before {
    content: "\e908";
}

.mi-bug:before {
    content: "\e999";
}

.mi-previous:before {
    content: "\e909";
}
