$icomoon-font-family: "Mioritza-Icons" !default;
$icomoon-font-path: "fonts" !default;
$mi-offlight: "\e905";
$mi-onlight: "\e906";
$mi-miorita: "\e900";
$mi-sheep: "\e900";
$mi-pause: "\e901";
$mi-play: "\e902";
$mi-stop: "\e903";
$mi-undo: "\e904";
$mi-stepover: "\e908";
$mi-bug: "\e999";
$mi-previous: "\e909";

