@use "/assets/scss/0-settings" as *;

:root {
    // Initial definitions of colors
    --color-white: #{$color-white};
    --color-black: #{$color-black};
    --color-gray-900: #{$color-gray-900};
    --color-gray-800: #{$color-gray-800};
    --color-gray-500: #{$color-gray-500};
    --color-gray-300: #{$color-gray-300};
    --color-gray-200: #{$color-gray-200};
    --color-gray-100: #{$color-gray-100};
    --color-red: #{$color-red};
    --color-red-lighter: #{$color-red-lighter};
    --color-green: #{$color-green};
    --color-green-lighter: #{$color-green-lighter};
    --color-green-checkmark: #{$color-green-checkmark};
}

@mixin light-mode-colors {
    --background-color: var(--color-gray-100);
    --background-accent: var(--color-gray-200);
    --text-color: var(--color-gray-900);
    --menu-color: var(--color-black);
    --menu-color-hover: var(--color-gray-800);
    --link-color: var(--color-black);
    --link-color-hover: var(--color-gray-500);
    --primary-button: var(--color-red);
    --primary-button-hover: var(--color-red-lighter);
    --secondary-button: var(--color-green-lighter);
    --secondary-button-color: var(--color-white);
    --secondary-button-hover: var(--color-green);
    --color-mode: var(--color-gray-500);
    --color-mode-hover: var(--color-green);
    --element-accent-color: var(--color-gray-500);
    --border-color: var(--color-gray-500);
    --checkmark-color: var(--color-green);
}

@mixin dark-mode-colors {
    --background-color: var(--color-gray-900);
    --background-accent: var(--color-gray-800);
    --text-color: var(--color-white);
    --menu-color: var(--color-gray-300);
    --menu-color-hover: var(--color-white);
    --link-color: var(--color-gray-100);
    --link-color-hover: var(--color-green-lighter);
    --primary-button: var(--color-red);
    --primary-button-hover: var(--color-red-lighter);
    --secondary-button: var(--color-green);
    --secondary-button-color: var(--color-white);
    --secondary-button-hover: var(--color-green-lighter);
    --color-mode: var(--color-gray-300);
    --color-mode-hover: var(--color-white);
    --element-accent-color: var(--color-gray-300);
    --border-color: var(--color-gray-300);
    --checkmark-color: var(--color-green-checkmark);
}

:root {
    @include dark-mode-colors;
}

@media (prefers-color-scheme: light) {
    :root {
        @include light-mode-colors;
    }
}

.light-mode {
    @include light-mode-colors;
}
.dark-mode {
    @include dark-mode-colors;
}
