@import "~/assets/fonts/RobotoMono/RobotoMono.css";
@import "~/assets/fonts/CabinSketch/RoCabinSketch.css";

:root {
    --font-default: "RobotoMono", monospace;
    --font-highlight: "CabinSketch", fantasy, sans-serif;
    --font-basic: Arial, sans-serif;
}
